<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Shortener</title>
    <link rel="stylesheet" type="text/css" href="./static/index.css" />
</head>
<body>
    <main>
        <div class="form-container">
            <h1 class="title">
                Link Shortener
            </h1>
            <p>Shorten your links with ease!</p>
            <form id="linkForm">
                <input id="linkInput" name="link" type="url" placeholder="https://google.com" autocomplete="off" />
                <button type="submit">Shorten</button>
            </form>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <th>URL</th>
                    <th>Link</th>
                </thead>
                <tbody id="linkBody"></tbody>
            </table>
            <div class="g1"></div>
        </div>
    </main>
    
    <div class="user-bar">
        <div class="user-div">
            User: <span id="username">Logged Out</span>
        </div>
        <button id="logout" class="log-out">
            Logout
        </button>
    </div>

    <script src="./static/index.js"></script>
</body>
</html>